<!DOCTYPE html>
<html>
<head>
  <title>Making Groceries</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>				
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div class="nav navbar-nav">
				<a href="/"><h1 class="navbar-brand"><span><i class="fa fa-shopping-cart fa-6"></i></span>  MAKING GROCERIES <span class="sr-only">Making Groceries</span></h1></a>
			</div>
			<div class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn btn-default sign-out" %>
				<% end %>
			</div>
		</div>
	</nav>
</header>
<main class="container">
  <div class="row">
	<div class="col-sm-8 col-sm-push-2">
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	  <%= yield %>
	</div>
  </div>
</main>
</body>
</html>
